.node {
    padding: 10px 20px;
    border: 3px black solid;
    border-radius: 15px;
    transition: .2s linear;
    background-color: beige;
 
}

.warning {
    background-color: yellow;
}

.danger {
    background-color: red;
}

.normal {
    background-color: green;
}